/* .themify_builder_1901_row.module_row_0 Style */
.themify_builder_1901_row.module_row_0.module_row {
	background-image: url(http://i67.tinypic.com/21lqu6q.jpg);
	padding-top : 17.5%;
	padding-right : 3%;
	padding-bottom : 17.5%;
	padding-left : 3%
}
.themify_builder_1901_row.module_row_0.module_row>.builder_row_cover {
	background: -moz-linear-gradient(180deg,rgba(0, 0, 0, 0.792) 0%, transparent 10%);
background: -webkit-linear-gradient(180deg,rgba(0, 0, 0, 0.792) 0%, transparent 10%);
background: -o-linear-gradient(180deg,rgba(0, 0, 0, 0.792) 0%, transparent 10%);
background: -ms-linear-gradient(180deg,rgba(0, 0, 0, 0.792) 0%, transparent 10%);
background: linear-gradient(180deg,rgba(0, 0, 0, 0.792) 0%, transparent 10%);

}

.themify_builder .image-1901-0-0-1.module-image .image-content { text-align: center;  } 
.themify_builder .text-1901-0-0-2.module-text { font-family: PT Sans; color: #ffffff; font-size: 18px; text-align: center;  } 
.themify_builder .text-1901-0-0-2.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-0-0-2.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-0-0-2.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-0-0-2.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-0-0-2.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-0-0-2.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .buttons-1901-0-0-3 div.module-buttons { font-family: PT Sans; text-align: center; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none;  } 
.themify_builder .buttons-1901-0-0-3div.module-buttons { color: #ffffff;  } 
.themify_builder .buttons-1901-0-0-3 div.module-buttons i { font-size: 16px;  } 
.themify_builder .buttons-1901-0-0-3 div.module-buttons a { font-size: 16px;  } 
.themify_builder .buttons-1901-0-0-3 div.module-buttons span { font-size: 16px;  } 
.themify_builder .buttons-1901-0-0-3 .module-buttons .module-buttons-item a { background-color: #ffffff; background-color: rgba(255,255,255, 0.00); color: #ffffff; border-top-color: #ffffff; border-top-width: 1px; border-top-style: solid; border-right-color: #ffffff; border-right-width: 1px; border-right-style: solid; border-bottom-color: #ffffff; border-bottom-width: 1px; border-bottom-style: solid; border-left-color: #ffffff; border-left-width: 1px; border-left-style: solid;  } 
.themify_builder .buttons-1901-0-0-3 .module-buttons .module-buttons-item a:hover { background-color: #ffffff; color: #999999;  } 
/* .themify_builder_1901_row.module_row_1 Style */
.themify_builder_1901_row.module_row_1.module_row {
	background-color: #302c2b;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-1901-1-0-1.module-text { font-family: PT Serif; color: #ffffff; font-size: 20px; text-align: center; padding-top: 3%; padding-bottom: 3%;  } 
.themify_builder .text-1901-1-0-1.module-text h1 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-1-0-1.module-text h2 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-1-0-1.module-text h3:not(.module-title) { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-1-0-1.module-text h4 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-1-0-1.module-text h5 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-1-0-1.module-text h6 { font-family: PT Serif; color: #ffffff;  } 
/* .themify_builder_1901_row.module_row_2 Style */
.themify_builder_1901_row.module_row_2.module_row {
	background-image: url(http://insanovision.github.io/wp-content/uploads/2016/10/bandpic.jpg);
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}

/* .themify_builder_1901_row.module_row_3 Style */
.themify_builder_1901_row.module_row_3.module_row {
	background-color: #302c2b;
	font-family: PT Sans;
	font-size: 16px;
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}
.themify_builder_1901_row.module_row_3 a {
	color: #cccccc
}
.themify_builder_1901_row.module_row_3.module_row h1 {
	font-family: PT Sans
}
.themify_builder_1901_row.module_row_3.module_row h2 {
	font-family: PT Sans
}
.themify_builder_1901_row.module_row_3.module_row h3:not(.module-title) {
	font-family: PT Sans
}
.themify_builder_1901_row.module_row_3.module_row h4 {
	font-family: PT Sans
}
.themify_builder_1901_row.module_row_3.module_row h5 {
	font-family: PT Sans
}
.themify_builder_1901_row.module_row_3.module_row h6 {
	font-family: PT Sans
}

.themify_builder .text-1901-3-0-1.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px; text-align: justify; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;  } 
.themify_builder .text-1901-3-0-1.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-3-0-1.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-3-0-1.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-3-0-1.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-3-0-1.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-3-0-1.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
/* .themify_builder_1901_row.module_row_4 Style */
.themify_builder_1901_row.module_row_4.module_row {
	background-image: url(http://www.testamentlegions.com/site/wp-content/uploads/2016/10/bots-tour.jpg);
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}

.themify_builder .text-1901-4-0-1.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px;  } 
.themify_builder .text-1901-4-0-1.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text a { color: #ffffff;  } 
.themify_builder .text-1901-4-0-1.module-text a:hover { color: #cccccc;  } 
/* .themify_builder_1901_row.module_row_5 Style */
.themify_builder_1901_row.module_row_5.module_row {
	background-color: #302c2b;
	padding-top : 0px;
	padding-right : 3%;
	padding-bottom : 0px;
	padding-left : 3%
}

.themify_builder .text-1901-5-0-1.module-text { background-color: #302C2B; font-family: PT Serif; color: #ffffff; font-size: 20px; text-align: center; padding-top: 3%; padding-bottom: 3%;  } 
.themify_builder .text-1901-5-0-1.module-text h1 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-5-0-1.module-text h2 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-5-0-1.module-text h3:not(.module-title) { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-5-0-1.module-text h4 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-5-0-1.module-text h5 { font-family: PT Serif; color: #ffffff;  } 
.themify_builder .text-1901-5-0-1.module-text h6 { font-family: PT Serif; color: #ffffff;  } 
/* .themify_builder_1901_row.module_row_6 Style */
.themify_builder_1901_row.module_row_6.module_row {
	background-image: url(http://www.testamentlegions.com/site/wp-content/uploads/2016/10/bots-press.jpg);
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}

.themify_builder .post-1901-6-0-2.module-post .post-title { font-family: PT Sans; color: #ffffff; font-family: PT Sans; color: #ffffff; font-size: 20px;  } 
.themify_builder .post-1901-6-0-2.module-post .post-title a { font-family: PT Sans; color: #ffffff; font-family: PT Sans; color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post .post { color: #ffffff; font-size: 16px; text-align: justify;  } 
.themify_builder .post-1901-6-0-2.module-post h1 { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post h2 { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post h3:not(.module-title) { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post h4 { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post h5 { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post h6 { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post a { color: #ffffff;  } 
.themify_builder .post-1901-6-0-2.module-post a:hover { color: #cccccc;  } 
.themify_builder .post-1901-6-0-2.module-post .post-title:hover { color: #cccccc;  } 
.themify_builder .post-1901-6-0-2.module-post .post-title a:hover { color: #cccccc;  } 
.themify_builder .post-1901-6-0-2.module-post .post-content .post-meta { font-family: PT Sans; color: #999999; font-size: 14px;  } 
.themify_builder .post-1901-6-0-2.module-post .post-content .post-meta a { font-family: PT Sans; color: #999999;  } 
.themify_builder .post-1901-6-0-2.module-post .post-content .post-meta:hover { color: #777777;  } 
.themify_builder .post-1901-6-0-2.module-post .post-content .post-meta a:hover { color: #777777;  } 
.themify_builder .post-1901-6-0-2.module-post .post .post-date { font-family: PT Sans; color: #cccccc; font-size: 16px;  } 
.themify_builder .post-1901-6-0-2.module-post .post .post-date a { font-family: PT Sans; color: #cccccc;  } 
.themify_builder .post-1901-6-0-2.module-post .post .post-date:hover { color: #999999;  } 
.themify_builder .post-1901-6-0-2.module-post .post .post-date a:hover { color: #999999;  } 
.themify_builder .post-1901-6-0-2.module-post .post-content .entry-content { font-family: PT Sans; color: #ffffffff; font-size: 16px;  } 
/* .themify_builder_1901_row.module_row_7 Style */
.themify_builder_1901_row.module_row_7.module_row {
	background-color: #302c2b;
	padding-right : 3%;
	padding-left : 3%
}

.themify_builder .text-1901-7-0-1.module-text { font-family: PT Serif; font-size: 20px; text-align: center; padding-top: 3%; padding-bottom: 3%;  } 
.themify_builder .text-1901-7-0-1.module-text h1 { font-family: PT Serif;  } 
.themify_builder .text-1901-7-0-1.module-text h2 { font-family: PT Serif;  } 
.themify_builder .text-1901-7-0-1.module-text h3:not(.module-title) { font-family: PT Serif;  } 
.themify_builder .text-1901-7-0-1.module-text h4 { font-family: PT Serif;  } 
.themify_builder .text-1901-7-0-1.module-text h5 { font-family: PT Serif;  } 
.themify_builder .text-1901-7-0-1.module-text h6 { font-family: PT Serif;  } 
/* .themify_builder_1901_row.module_row_8 Style */
.themify_builder_1901_row.module_row_8.module_row {
	background-image: url(http://www.testamentlegions.com/site/wp-content/uploads/2016/10/test-video.jpg);
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}
.themify_builder_1901_row.module_row_8.module_row>.builder_row_cover {
	background:rgba(0,0,0, 0.25)
}
.themify_builder_1901_row.module_row_8.module_row>.builder_row_cover:before {
	background:rgba(0,0,0, 0.75)
}

/* .themify_builder_1901_row.module_row_9 Style */
.themify_builder_1901_row.module_row_9.module_row {
	background-color: #302c2b;
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}

.themify_builder .image-1901-9-0-2.module-image { padding-bottom: 3%;  } 
.themify_builder .image-1901-sub_row_9-0-4-1-0.module-image .image-content { text-align: center;  } 
.themify_builder .image-1901-sub_row_9-0-4-2-0.module-image .image-content { text-align: center;  } 
.themify_builder .text-1901-9-0-5.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px; padding-top: 3%;  } 
.themify_builder .text-1901-9-0-5.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-9-0-5.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-9-0-5.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-9-0-5.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-9-0-5.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-9-0-5.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
/* .themify_builder_1901_row.module_row_10 Style */
.themify_builder_1901_row.module_row_10.module_row {
	background-image: url(http://www.testamentlegions.com/site/wp-content/uploads/2016/10/snake-bg.jpg);
	padding-top : 3%;
	padding-right : 3%;
	padding-bottom : 3%;
	padding-left : 3%
}

.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px; text-align: justify;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-1901-sub_row_10-0-2-0-0.module-text a:hover { color: #cccccc;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px; text-align: justify;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-1901-sub_row_10-0-2-1-0.module-text a:hover { color: #cccccc;  } 
.themify_builder .text-1901-10-0-3.module-text { font-family: PT Sans; color: #ffffff; font-size: 16px; text-align: justify;  } 
.themify_builder .text-1901-10-0-3.module-text h1 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text h2 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text h3:not(.module-title) { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text h4 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text h5 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text h6 { font-family: PT Sans; color: #ffffff;  } 
.themify_builder .text-1901-10-0-3.module-text a { color: #ffffff; text-decoration: underline;  } 
.themify_builder .text-1901-10-0-3.module-text a:hover { color: #cccccc;  } 
